<div class='legendContainer'>
	<div class="legend-ital"><%= gt.gettext('Hide/show') %></div>
	<div class='dateTip'> 
		<% 
		if (data[0].displayDate){%>
			<%=data[0].displayDate%>
		<%}
		if (data[0].category){%>
			<%=data[0].category%>
		<%}
		if (!data[0].category && !data[0].displayDate){%>
			<br>
		<%}%>
	</div>
	<div class="legend-items-holder">
		<% data.forEach(function(d,i){%>
			<div class="legendItems" data-id="<%=d.name%>">
				<div class='circleTip <%=self.chartType%> <%if (self.chartLayout == "outlineBar" && i==1){%>outline<%}%>' style='background-color:<%=self.colorScale(d.name)%>;'></div>
				<div class="legendInline">
					<div class="nameTip">	<%= d.displayName %></div>
					<div class='valueTip'>
						<% if (d[self.dataType]){%>
							<%=self.tipNumbFormat(d[self.dataType])%>
						<%}else{%>
							<br>
						<%}%>
					</div>
				</div>
			</div>
		<%})%>
	</div>		
</div>

