<%if (data[0].quarters){%>
	<div class='dateTip'> <%=data[0].quarters%> <%=data[0].displayDate%> </div>
<%}else if (data[0].displayDate){%>
	<div class='dateTip'> <%=data[0].displayDate%> </div>
<%}else{%>
	<div class='dateTip'> <%=data[0].category%> </div>
<%}%>
<%if (!data[0].category && !data[0].displayDate){%>
	<div class='dateTip'> <%=data[0][self.xValue]%> </div>
<%}%>

<%data.forEach(function(d,i){%>
		<div class="tipHolder">
			<%if(data.length > 1){%>
				<div class='circleTip <%=self.chartType%> <%if (self.chartLayout == "outlineBar" && i==1){%>outline<%}%>' style='background-color:<%=self.colorScale(d.name)%>;'></div>
				<div class='nameTip'><%=d.displayName%></div>
			<%}%>
			<div class='valueTip'>
				<%if (self.chartLayout == "stackPercent"){%>
					<%=self.tipNumbFormat(d.y1Percent - d.y0Percent)%>				
				<%}else{%>
					<%=self.tipNumbFormat(d[self.dataType])%>				
				<%}%>
			</div>
	
		</div>
<%})%>	
<%if(self.timelineData){
	var timelineData = self.timelineDataGrouped[self.timelineDate(data[0].date)]
	%>
	<%=self.timelineTemplate({data:timelineData, this:this})%>
<%}%>	