<%if (self.xValue == "category"  && self.tipValuesDisplay.category != "none"){ %>
	<div class='dateTip'> <%=data[0].category%> </div>
<%}%>
<%if ((self.xValue == "date") && self.tipValuesDisplay.date != "none"){%>
	<div class='dateTip'> <%=data[0].displayDate%> </div>
<%}%>

<%data.forEach(function(d,i){%>
		<div class="tipHolder scatter">
			<%if (self.colorValue && self.tipValuesDisplay.colorValue != "none"){%>							
				<div class='colorTip'><%=d[self.colorValue]%></div>
			<%}%>
		</div>
		<div class="tipHolder scatter">

			<%if (self.xValue != "date" && self.xValue != "category" && self.tipValuesDisplay.xValue != "none"){%>
				<div class='nameTip'><%=self.tipValuesDisplay.xValue%></div>
				<div class='valueTip'><%=self.tipNumbFormat(d[self.xValue])%></div>
			<%}%>
		</div>
		
		<div class="tipHolder scatter">
			<%if (self.yValue == "category"  && self.tipValuesDisplay.category != "none"){ %>
				<div class='dateTip'> <%=data[0].category%> </div>
			<%}%>
		</div>

		<div class="tipHolder scatter">
			<%if ((self.yValue == "date") && self.tipValuesDisplay.date != "none"){%>
				<div class='dateTip'> <%=data[0].displayDate%> </div>
			<%}%>
		</div>

		<div class="tipHolder scatter">
			
			<%if (self.yValue != "date" && self.yValue != "category" && self.tipValuesDisplay.yValue != "none"){%>
				<div class='nameTip'><%=self.tipValuesDisplay.yValue%></div>
				<div class='valueTip'><%=self.tipNumbFormat(d[self.yValue])%></div>
			<%}%>
		</div>
		<div class="tipHolder scatter">
			<%if (self.rValue && self.tipValuesDisplay.rValue != "none"){%>
				<div class='nameTip'><%=self.tipValuesDisplay.rValue%></div>
				<div class='valueTip'><%=self.tipNumbFormat(d[self.rValue])%></div>
			<%}%>
		</div>
		<%if (data.length > 1 && i != data.length -1){%>
			<hr>
		<%}%>
<%})%>	
